**/target

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.pytest_cache/
**/*.py[cod]

# C extensions
*.so

# Distribution / packaging
bindings/*/.Python
bindings/*/.venv/
bindings/*/env/
bindings/*/bin/
bindings/*/build/
bindings/*/develop-eggs/
bindings/*/dist/
bindings/*/eggs/
bindings/*/lib/
bindings/*/lib64/
bindings/*/parts/
bindings/*/sdist/
bindings/*/var/
bindings/**/include/
bindings/**/man/
bindings/**/venv/
bindings/**/*.egg-info/
bindings/**/.installed.cfg
bindings/**/*.egg

# Installer logs
bindings/*/pip-log.txt
bindings/*/pip-delete-this-directory.txt
bindings/**/pip-selfcheck.json

# Unit test / coverage reports
bindings/*/htmlcov/
bindings/*/.tox/
bindings/*/.coverage
bindings/*/.cache
bindings/*/nosetests.xml
bindings/*/coverage.xml

# Translations
bindings/*/*.mo

# Mr Developer
bindings/*/.mr.developer.cfg
bindings/*/.project
bindings/*/.pydevproject

# Rope
bindings/*/.ropeproject

.DS_Store

# Sphinx documentation
bindings/*/docs/_build/

# PyCharm
bindings/*/.idea/

# VSCode
.vscode/

# Pyenv
bindings/*/.python-version

# Rust Docs
*/docs/.rustc_info.json
*/docs/.rustdoc_fingerprint.json
*/docs/doc/
*/docs/debug/
*/docs/release/
